layers-container,
.layers-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

layers-layer,
.layers-layer {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    background-color: #ffffff;
}

.layers-layer-active {
    z-index: 1000;
}
